[submodule "IATI-Standard-SSOT-version-2.03"]
	path = IATI-Standard-SSOT-version-2.03
	url = https://github.com/IATI/IATI-Standard-SSOT.git
	branch = version-2.03-update
	ignore = dirty
[submodule "IATI-Standard-SSOT-version-2.02"]
	path = IATI-Standard-SSOT-version-2.02
	url = https://github.com/IATI/IATI-Standard-SSOT.git
	branch = version-2.02-update
	ignore = dirty
[submodule "IATI-Standard-SSOT-version-2.01"]
	path = IATI-Standard-SSOT-version-2.01
	url = https://github.com/IATI/IATI-Standard-SSOT.git
	branch = version-2.01-update
	ignore = dirty
[submodule "IATI-Standard-SSOT-version-1.05"]
	path = IATI-Standard-SSOT-version-1.05
	url = https://github.com/IATI/IATI-Standard-SSOT.git
	branch = version-1.05-update
	ignore = dirty
[submodule "IATI-Standard-SSOT-version-1.04"]
	path = IATI-Standard-SSOT-version-1.04
	url = https://github.com/IATI/IATI-Standard-SSOT.git
	branch = version-1.04-update
	ignore = dirty
[submodule "IATI-Guidance"]
	path = IATI-Guidance
	url = https://github.com/IATI/IATI-Guidance.git
	branch = guidance-test
	ignore = dirty
[submodule "IATI-Developer-Documentation"]
	path = IATI-Developer-Documentation
	url = https://github.com/IATI/IATI-Developer-Documentation.git
        branch = documentation-test
        ignore = dirty
